apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "hf.fullname" . }}
  labels:
    {{- include "hf.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "hf.labels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "hf.labels" . | nindent 8 }}
    spec:
      containers:
      - name: {{ include "hf.name" . }}
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        ports:
          - containerPort: {{ .Values.service.targetPort }}
            name: http
        envFrom:
          - secretRef:
              name: {{ .Values.secretRefName }}
        env:
          {{- range $k, $v := .Values.env }}
          - name: {{ $k }}
            value: "{{ $v }}"
          {{- end }}
          - name: RabbitMQ
            valueFrom:
              secretKeyRef:
                name: {{ .Values.secretRefName }}
                key: RabbitMQ
          - name: APPLICATIONS_MONGO_CONNECTION_STRING
            valueFrom:
              secretKeyRef:
                name: {{ .Values.secretRefName }}
                key: Mongo
          - name: POD_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          - name: POD_NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
          - name: NODE_NAME
            valueFrom:
              fieldRef:
                fieldPath: spec.nodeName
        {{- if .Values.livenessProbe.enabled }}
        livenessProbe:
          httpGet:
            path: {{ .Values.livenessProbe.path }}
            port: http
          initialDelaySeconds: {{ .Values.livenessProbe.initialDelaySeconds }}
          periodSeconds: {{ .Values.livenessProbe.periodSeconds }}
        {{- end }}

        {{- if .Values.readinessProbe.enabled }}
        readinessProbe:
          httpGet:
            path: {{ .Values.readinessProbe.path }}
            port: http
          initialDelaySeconds: {{ .Values.readinessProbe.initialDelaySeconds }}
          periodSeconds: {{ .Values.readinessProbe.periodSeconds }}
        {{- end }}
        resources:
          {{- toYaml .Values.resources | nindent 10 }}
