apiVersion: v1
kind: Service
metadata:
  name: {{ include "hf.fullname" . }}
  labels:
    {{- include "hf.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - name: http
      port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.targetPort }}
  selector:
    {{- include "hf.labels" . | nindent 4 }}
